src/test/data/existing-schema.xsd

<schema targetNamespace="http://example.org/sample/"
        xmlns:this="http://example.org/sample/"
        xmlns="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

  <element name="sample" type="this:rootType"/>

  <complexType name="rootType">
    <sequence>
      <element name="sample-element" type="string" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
</schema>
